* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
}

nav ul.nav-content{
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content li {
    opacity: 0.8;
    transition: opacity 0.5s;
}

.nav-content li:hover {
    opacity: 1;
}

.nav-content li a {
    text-decoration: none;
    color: #f5f5f7;
    font-weight: 400;
    font-size: 12px;
    display: block;
    width: 100%;
    height: 100%;
}

.nav-content .apple-icon {
    width: 30px;
    height: 44px;
    background-position: center center;
    background-size: 14px 44px;
    background-repeat: no-repeat;
    background-image: url('../images/apple_icon.svg');
}


.nav-content .search-icon {
    width: 31px;
    height: 100%;
    background-size: 15px 88px;
    background-position: 8px 0;
    background-repeat: no-repeat;
    background-image: url('../images/search_icon.svg');
}
.nav-content .bag-icon {
    width: 30px;
    height: 44px;
    background-position: center center;
    background-size: 14px 44px;
    background-repeat: no-repeat;
    background-image: url('../images/bag_icon.svg');
}


.main {
    padding-top: 44px;
}

.main .adds {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f7;
    font-size: 14px;
}

.main .adds a {
    text-decoration: none;
    color: #06c;
}

.main .adds a:hover {
    text-decoration: underline;
}

.product-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 692px);
}

.product-area .product {
    width: 100%;
    height: 100%;
}
.product-area .product.full-col {
    grid-column-start: 1;
    grid-column-end: -1;
}

.product.macbook-air {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/macbook-air.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30%;
}

.product.macbook-air .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1 {
    font-size: 48px;
}
.content .m2-adds {
    margin-top: 8px;
    background-size: 244px 36px;
    background-repeat: no-repeat;
    background-image: url('../images/m2-adds.png');
    width: 244px;
    height: 36px;
}

.content .tips {
    color: #86868b;
    font-size: 19px;
    margin-top: 11px;
}

.content .action-area {
    display: flex;
    margin-top: 10px;

}

.content a {
    text-decoration: none;
    color: #06c;
    font-size: 19px;
    cursor: pointer;
}

.content a:hover {
    text-decoration: underline;
}

.content a::after {
    content: "   >";
}


.content a:not(:first-child) {
    margin-left: 32px;
}